@media all and (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    nav label {
        display: block;
        color: #fff;
        text-align: right;
    }

    .main-nav {
        height: auto;
        min-height: 50px;
    }

    .main-nav ul {
        display: none;
    }

    nav input:checked + ul {
        display: block;
    }

    .about img {
        width: 60%;
    }

    .skill-inner {
        flex-basis: 100%;
    }

    .contact form {
        width: 100%;
    }

    .contact form input:not(.btn),
    .contact form textarea {
        flex-basis: 100%;
    }

    section:not(.skll) {
        padding: 50px 30px;
    }
}